-# frozen_string_literal: true
= simple_form_for task, wrapper: :inline_form, html: { class: "row #{'border-top' if task.persisted?} mt-2 pt-2" }, wrapper_mappings: { boolean: :inline_boolean } do |f|
  
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .col-sm-1
  .col-sm-11= f.input :title, label: false, placeholder: 'Add a New task here ...', input_html: { class: 'form-control-sm', autofocus: true }

