#albums{data:{controller: 'albums'}}
  %h1 Albums
  #index{data:{target: 'albums.index'}}= render partial: 'index'

  %br

  = link_to 'New Album', new_album_path, class: 'btn btn-primary new', data:{action:'albums#show'}

  #formModal.modal.fade
    .modal-dialog
      .modal-content{data:{target: 'albums.modalContent'}}
